@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

$color-purple: hsl(257, 40%, 49%);
$color-pink: hsl(300, 69%, 71%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}
.container {
  background-color: $color-purple;
  width: 100%;
  height: 100%;
  background-image: url(/bg-mobile.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-inline: 3rem;
}

.content {
  margin-block: 4rem;
  &__logo {
    width: 40%;
  }
  &__img {
    margin-block: 4rem;
    width: 100%;
    padding: 4;
  }
  &__text-box {
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 1.3rem;
  }
  &__text {
    font-size: 1.17em;
    font-weight: 400;
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.75);
  }

  &__button-area {
    margin-top: 2rem;
  }
  &__button {
    padding: 1.5rem 2rem;
    width: 70%;
    border-radius: 4rem;
  }
  &__social {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    * {
      transform: scale(1.5);
      margin-inline: 1rem;
      border: 1px solid rgba(255, 255, 255, 0.5);
      color: white;
      padding: 0.5rem;
      border-radius: 50%;
    }
  }
  &__fb {
    padding-right: 0.65rem;
  }
}
